header,
footer {
  font-size: 12px;
  color: grey;
}
#div1 {
  display: flex;
  flex-direction: column;
  max-width: 10vw;
}
#label1,
#input1,
#button1 {
  margin-bottom: 1vw;
}
li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
